# Web & App Frameworks
streamlit
Flask

# Data Processing & Math
pandas
numpy
scipy
openpyxl

# Machine Learning & NLP
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
scikit-learn
nltk

# Visualization
matplotlib
plotly
altair
pydeck

# APIs & Utilities
google-generativeai
google-api-python-client
requests
GitPython
emoji
feedparser
pyodbc
